.d3-chart-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: var(--font-display);

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  .bar {
    cursor: pointer;
  }
}
